<ion-view title="'Physician Directory'">
  <ion-content has-header="true">
    <h2 class="physicians-directory-title">
      <i class="icon ion-clipboard"></i> Physician Directory
      <small class="physicians-directory-subtitle">
        Find physicians by office location, specialty, or insurance.
      </small>
    </h2>

    <div class="list card">
      <a href="#/physicians/locations" class="item item-icon-left">
        <i class="icon ion-location"></i>
        Office Locations
      </a>
      <a href="#/physicians/specialties" class="item item-icon-left">
        <i class="icon ion-medkit"></i>
        Specialties
      </a>
      <a href="#/physicians/insurances" class="item item-icon-left">
        <i class="icon ion-help-buoy"></i>
        Insurance
      </a>
    </div>
  </ion-content>
</ion-view>
