<ion-view title="'Home'" style="background-color: #F3F3F3">
  <ion-content has-header="true" has-tabs="false">
    <!--
    <img src="http://placehold.it/400x250" width="100%"/>
    -->
    <div class="list card">
      <a href="#/physicians/menu" class="item item-icon-left">
        <i class="icon ion-clipboard"></i>
        Physician Directory
      </a>
      <a href="#/locations" class="item item-icon-left">
        <i class="icon ion-ios7-stopwatch-outline"></i>
        Urgent Care Centers
      </a>
    </div>
  </ion-content>
</ion-view>
